$pagination-border-color: $red;
$pagination-color: $red;
$pagination-current-background-color: $red;
$pagination-current-border-color: $red;
$pagination-focus-color: $white;
$pagination-focus-border-color: $red;
$pagination-hover-border-color: $red;
$pagination-hover-color: $red;
.pagination {
  .pagination-list {
    &:first-child {
      @include from($tablet) {
        margin-left: 20px !important;
      }
      
    }
  }
}
