{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        // "@babel/preset-stage-2"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@utils": "./src/utils"
                }
            }
        ],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "react-hot-loader/babel",
    ]
}