.button {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  @include until($desktop) {
    align-self: stretch;
    &.not-responsive {
      align-self: flex-start;
    }
  }
}
