.home-container {
  display: flex;
  // background: $lightgreen;
  margin-top: 2rem;
  min-height: 70vh;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0rem 0rem 2rem 0rem;
  border-radius: $radius;
  justify-content: center;
  .products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter-helper {
    border: solid 1px $red;
    font-family: "Montserrat";
    padding: 5px 10px;
    color: $red;
    margin-right: 10px;
  }
}
