.image-viewer-container {
  display: flex;
  flex-direction: column;
  .image-show {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;
    padding: 2rem;
    img {
      // width: 100%;

      // max-width: 100%;
      // max-height: 100%;
      &.tall {
        max-height: 100%;
        max-width: 100%;
        height: 100%;
      }
      &.wide {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
      }
    }
  }
  .image-list {
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    .image-item {
      cursor: pointer;
      justify-content: flex-start;
      border-radius: $radius;
      box-shadow: 0px 0px 0px 1px $lightgray;
      padding: 0.5rem;
      display: flex;
      width: 6rem;
      height: 6rem;

      margin-right: 10px;
      &.selected {
        box-shadow: 0px 0px 0px 2px $red;
      }
    }
  }
}
