.google-login-btn {
  width: 100% !important;
  font-family: "Montserrat" !important;
  text-align: center !important;
  font-size: 24px !important;
  color: $black !important;
  span {
    width: 100%;
    text-align: center;
  }
}
